.progress {
  max-width: 400px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 5mm;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  circle {
    fill: none;
  }

  svg {
    transform: rotate(-90deg);
  }

  circle:nth-child(1) {
    stroke: rgb(240, 248, 255);
    stroke-width: 12px;
  }

  circle:nth-child(2) {
    stroke: var(--color-green);
    stroke-dasharray: 848; /* circumference of the circle */
    stroke-linecap: round;
    stroke-width: 16px;
  }

  .text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins, sans-serif;
    font-size: 60px;
    color: var(--color-base);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: var(--color-base);
  }
}
.totalfilling {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: var(--color-green);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
