@include responsive(phone) {
  .welcome {
    grid-template-columns: 1fr;
    .image__container {
      display: none;
    }
    &__form {
      grid-column: 1;
      padding: 10rem 3.4rem;
      margin-top: 0;
      h1 {
        font-size: 4rem;
        text-align: center;
      }
      label {
        width: 100%;
      }
      input {
        width: 100%;
        font-size: 2.4rem;
        text-align: center;
      }
      input[type="submit"] {
        font-size: 2.4rem;
        margin-top: 6rem;
        padding: 1.2rem;
        width: 100%;
      }
    }
  }
}
