.welcome {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  z-index: 9;
  position: relative;
  @import "./welcomeImage";
  @import "./welcomeForm";
}
@import "./welcomeResponsive";
