.home__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.2rem;
  width: 100%;
  margin-top: 8.1rem;
  @import "./description.scss";
  @import "./calculation.scss";
}
@include responsive(phone) {
  .home__content {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3.2rem;
  }
}
